* {
    margin: 0% ;
    font-family: 'Open Sans', sans-serif;

}

.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background:#FD6E0A;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    padding: 18px 35px;
    
}

/* Header and navigation styles */

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */
.banner {
    margin: 0 200px;
    align-items: center;
    display: flex;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}

/* about section styles */

.about-me{
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 131px 157px;
    text-align: center;
}

.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 50px;


}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-between;
}

.info-title{
    font-size: 20px;
    color: #757575;
}

.info-des{
    font-size: 20px;
    font-weight: 700;
    color: #474747;

}

/* what I do styles */

.what-i-do{
    margin-top: 130px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-des{
    font-size: 16px;
    color: #757575;

}

/* summary section styles */
.resume{

}

.resume-container{
    display: flex;
    gap: 300px;

}

.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* Resume Info */
.resume-des{
    margin-top: 30px;
    margin-bottom: 30px;
    

}

.edu-name{
    margin-bottom: 10px;
    font-weight: 700px;
    font-size: 25px;
    color: #474747;

}

.edu-var{
    margin-bottom: 30px;
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
}

.edu-des{
    font-size: 16px;
    color: #757575;
}

/* Contact styles */

.contact{
    display: flex;
    gap: 100px;
    margin-top: 130px;
    justify-content: space-between;
    background-color: #FFF8F3;
}
.contact-items{
    padding: 130px 200px;
}

.contact-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

input,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}


input[type="email"],[type="text"]{
    width: 461px;
    height: 64px;
}

textarea{
    width: 461px;
    height: 180px;
}

.contact a{
    text-decoration: none;
}
.contact p{
    color: #474747;
    margin-bottom: 30px;
}