* {
    margin: 0% ;
    font-family: 'Open Sans', sans-serif;

}

.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background:#FD6E0A;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    border: 0px;
    padding: 18px 35px;
    
}

/* Header and navigation styles */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;


}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */
.banner {
    margin: 0 200px;
    align-items: center;
    display: flex;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about-me{
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 131px 157px;
    text-align: center;
}

.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;


}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-between;
}

.info-title{
    font-size: 20px;
    color: #757575;
}

.info-des{
    font-size: 20px;
    font-weight: 700;
    color: #474747;

}
